plugins {
  id 'nf-schema@2.5.1'
}
//******** Global parameters *****************//
params {

    publish_dir_mode     = "link" // "copy", "link", "symlink"
    outdir              = "${launchDir}"
    runsheet             = null // e.g. "${params.outdir}/Metadata/GLfile.csv" or "PE_file.csv"

    //-------- Parameters used to generate README.txt  ------------------//
    name                = "First M. Last"  // name of analyst
    email               = "NASA@nasa.gov" // email of analyst
    protocol_id         = "GL-DPPD-7104-C"   // Genelab pipeline document protocol id followed
    GLDS_accession      =  null // e.g "GLDS-487"
    OSD_accession       =  null // e.g "OSD-487"
    assay_suffix        =  "_GLAmpSeq"
    output_prefix       = ""
    /* extra parameters and arguments to GL-gen-processed-data-amplicon-readme-updated.py command
    run `bin/GL-gen-processed-data-amplicon-readme-updated.py --help` for extra parameters that can be set
     "--raw-reads-dir  '${params.outdir}/Raw_Sequence_Data/' "
     "--primers-already-trimmed" for Amplicon: if primers were trimmed prior to analysis
     "--single-end" if dataset is single-ended
     */ 
    readme_extra  =  "" 

    V_V_guidelines_link = "https://github.com/nasa/GeneLab_AmpliconSeq_Workflow/blob/main/README.md" //Dummy link

    // A comma separated list of files to find in processing_info.zip
    target_files             = "command.txt,nextflow_processing_info_GLAmpSeq.txt"

    /* Extra parameters and arguments to validate-processed-amplicon-data command
    run `bin/GL-validate-processed-amplicon-data --help` for extra parameters that can be set
     "--single-ended" if data are single-ended  
     "--primers-already-trimmed" if primers were trimmed prior to analysis
     "--R1-used-as-single-ended-data" if processing only R1 reads as single-end
     */
     validation_extra = ""

    /* Extra parameters and arguments to GL-gen-file-associations-table command
    run `bin/GL-gen-amplicon-file-associations-table --help` for extra parameters that can be set
     "--single-ended" if data are single-ended  
     "--primers-already-trimmed" for Amplicon: if primers were trimmed prior to analysis
     "--R1-used-as-single-ended-data" if processing only R1 reads as single-end
     */
     file_association_extra = "--include-raw-multiqc-in-output" // default behavior is including raw multiqc, remove if not needed

    // Extra arguments for scripts behavior
    include_raw_data = false // If true, includes Raw_Sequence_Data in README and validation processes, and generates raw md5sum

    // Specify paths to existing conda environments
    // Leave as is if you'd like to create a new conda environment
    conda_dp_tools = null          // "/path/to/envs/dp_tools"

    debug          = false // set to true if you'd like to see the parameters values printed to the terminal
}

// Workflow output settings
outputDir = params.outdir
workflow.output.mode = params.publish_dir_mode

// Used as base for clean file paths
params.baseDir = "${launchDir}"
parent_dir     = "${launchDir.getParent()}"
// Setting the default container engine as singularity
params.containerEngine = "singularity"
// Conda shouldn't be used by default except when using conda-based profiles
params.use_conda = false


/*******************************************************************************************************
*************************************** Workflow Profiles **********************************************
********************************************************************************************************/
profiles {
    slurm {
         process.executor     = 'slurm' 
     }

    conda {   
        conda.enabled          = true
        params.use_conda       = true
        conda.channels         = 'conda-forge,bioconda' 
        conda.cacheDir         = 'conda/' // location of conda environments
        conda.createTimeout    = '2h'              
    }

    mamba {
        conda.enabled          = true
        conda.useMamba         = true
        conda.channels         = 'conda-forge,bioconda'
        params.use_conda       = true
        conda.cacheDir         = 'conda/' // location of conda environments
        conda.createTimeout    = '2h'
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true

        /* Uncomment the line below  if you'd like to set the cache directory here,
         as setting it here takes precedence over setting the nextflow variable
        NXF_SINGULARITY_CACHEDIR=singularity/ in your run script
         */
        //singularity.cacheDir   = "singularity/" // local singularity images location
        params.containerEngine = "singularity"
    }

    docker {
        docker.enabled         = true
        docker.runOptions      = '-u $(id -u):$(id -g)'
        params.containerEngine = "docker"
    }
}

// Maximum number of jobs to submit in parallel
executor.queueSize = 20

/************************************************************************************
*********** Tune process specific resources (cpu, container, memory etc.) ***********
*************************************************************************************/
process {
    //******************* Default process settings ************************//
    errorStrategy = "ignore"
    cpus = 2
    memory = '5 GB'
    cache = 'lenient'
    conda = {params.conda_dp_tools ? params.conda_dp_tools : "${projectDir}/envs/dp_tools.yaml"}
    container = "quay.io/nasa_genelab/dp_tools:1.3.8"

    // Mount parent directory for processes that copy files
    withName: "PACKAGE_PROCESSING_INFO|GENERATE_MD5SUMS" {
        containerOptions = {params.containerEngine == "singularity" ? "-B ${parent_dir}" : "-v ${parent_dir}:${parent_dir}"}
    }
}


/******************************************************************************
**************************** Workflow Metadata ********************************
*******************************************************************************/
manifest {
    author = 'Olabiyi Aderemi Obayomi'
    homePage = 'https://github.com/nasa/GeneLab_Data_Processing/blob/master/Amplicon/'
    description = 'Amplicon Illumina post-processing workflow'
    mainScript = 'post_processing.nf'
    defaultBranch = 'main'
    nextflowVersion = '>=25.10.3'
    version = '1.0.8'
}
